h1{
    text-align: center;
    font-weight: 520;
    letter-spacing: 10px;
    text-decoration: wavy orange underline;
    font-family:sans-serif,segoe ui;
}
p{
line-height:2 ;
letter-spacing:0px;



}

a{
    
    text-decoration: none;
    
    
}
