h1{
    width: 20px;
    height: 20px;
background-color: aquamarine;
border:10px solid grey ;
padding:50px  ;
margin: 50px;


}
div > #firstpara{
background-color: rgb(69, 116, 187);
 border: 10px dashed purple;
 border-radius:5px;
 margin: 100px;
}
div> .second{
    background-color: lightpink;
    border: 5px dotted green ;
margin-left: 80px;
}
p{
    background-color: royalblue;
    margin-top: 50px;
}