<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New requests</title>
</head>
<body>


<form action="/comments" method="post">
    <div>
        <label for="username">username</label>
        <input type="username" name="username" id="username" placeholder="username">
    </div>

    <div>
        <label for="comment">Comment:</label>
        <br>
        <textarea name="comment" id="comment" cols="30" rows="5"></textarea>
    </div>
   
    <button>Submit</button>
    

</form>
    
</body>
</html>