<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templeting</title>
</head>
<body>
    <h1>Welcome to our <%= 'homepage!'.toUpperCase() %> </h1>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing.</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, odit </p>

    <form action="">
        <div>
            <label for="text">username: </label>
        <input type="text" name="username" id="username" placeholder="username">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="password">
        </div>
    </form>
    <table>
        <thead>
            <tr>
                <th>a</th>
                <th>b</th>
                <th>c</th>
            </tr>
        </thead>
        <tr>
            <td>aa</td>
            <td>bb</td>
            <td>cc</td>
        </tr>

        <tr>
            <td>aaa</td>
            <td>bbb</td>
            <td>ccc</td>
        </tr>
        <tr>
            <td>aaaa</td>
            <td>bbbb</td>
            <td>cccc</td>
        </tr>
        <tbody>

        </tbody>
        <tfoot>

        </tfoot>
    </table>

</body>
</html>